# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
main

# Output of `go build`
/bin/
/build/

# Go workspace file
go.work
go.work.sum

# Dependency directories (go mod tidy will regenerate these)
vendor/

content/
content

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
*.log

# OS files
.DS_Store
Thumbs.db
